{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block og %}
  <meta property="og:type" content="article" />
  <meta
    property="article:published_time"
    content="{{ page.first_published_at|date:'c' }}"
  />
  <meta
    property="article:modified_time"
    content="{{ page.latest_revision_created_at|date:'c' }}"
  />
  {% if page.tags.all %} {% for tag in page.tags.all %}
    <meta property="article:tag" content="{{ tag }}" />
  {% endfor %} {% endif %} {% endblock og %} {% block content %}
    <header class="header header--post">
      <div class="hero hero--post">
        <h1 class="hero__title">{{ page.title }}</h1>

        <div class="hero__description">{{ page.description|richtext }}</div>
      </div>
    </header>

    <main class="main main--post main--post--private">
      <p>
        The details of this project are protected under a NDA. If you have a password, please enter it below.

        {% if user.is_authenticated %}
          To proceed, please log in with an account that has access.
        {% endif %}
      </p>
      <form action="{{ action_url }}" method="POST" class="nda-form">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div>
          {{ form.password.errors }}
          {{ form.password }}
        </div>

        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}

        <button type="submit">Continue</button>
      </form>
    </main>
  {% endblock content %}
