{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
  <header class="header header--projects">
    <div class="hero hero--projects">
      <h1 class="hero__title">
        {{ page.title }}
      </h1>
    </div>
  </header>

  <main class="main projects">
    {% for project in projects %}
      {% with project=project.specific %}
        <article class="article">
          <header class="article__header">
            <div class="article__image">
            </div>

            <h2 class="article__title">
              {{ project.title }}, {{ project.date|date:'Y' }}
            </h2>
          </header>

          <main class="article__summary">
            {{ project.description|richtext }}
          </main>
          <footer>
            <a href="{{ project.url }}" class="article__link">
              Learn more
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" shape-rendering="geometricPrecision" viewBox="0 0 24 24" class="icon" height="24" width="24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </footer>
      {% endwith %}
      </article>
    {% endfor %}
  </main>

{% endblock %}
