{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block og %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ page.first_published_at|date:'c' }}">
  <meta property="article:modified_time" content="{{ page.latest_revision_created_at|date:'c' }}">
  {% if page.tags.all %}
    {% for tag in page.tags.all %}
      <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
  {% endif %}
{% endblock og %}


{% block content %}
  <header class="header header--post">
    <div class="hero hero--post">
      <h1 class="hero__title">
        {{ page.title }}
      </h1>

      <div class="hero__description">
        {{ page.description|richtext }}
      </div>

      {% if page.repository_url %}
        <div class="hero__repository">
          <a href="{{ page.repository_url }}" class="hero__cta">
            Repository

            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" shape-rendering="geometricPrecision" viewBox="0 0 24 24" class="icon" height="24" width="24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      {% endif %}
    </div>
  </header>

  <main class="main main--post">
    {{ page.body|richtext }}
  </main>
{% endblock %}
