{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block og %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ page.first_published_at|date:'c' }}">
  <meta property="article:modified_time" content="{{ page.latest_revision_created_at|date:'c' }}">
  {% if page.tags.all %}
    {% for tag in page.tags.all %}
      <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
  {% endif %}
{% endblock og %}


{% block content %}
  <header class="header header__project">
    <div class="hero hero--project">
      <div class="hero__links">
        {% if page.repository_url %}
          <a href="{{page.repository_url}}" class="link link--external link--repository">
            GitHub

            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" shape-rendering="geometricPrecision" viewBox="0 0 24 24" class="link__icon icon" height="24" width="24" style="color: currentcolor;">
              <path d="M7 17L17 7M7 7h10v10"></path>
            </svg>
          </a>
        {% endif %}

        {% if page.page_url %}
          <a href="{{page.page_url}}" class="link link--external link--website">
            Website

            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" shape-rendering="geometricPrecision" viewBox="0 0 24 24" class="link__icon icon" height="24" width="24" style="color: currentcolor;">
              <path d="M7 17L17 7M7 7h10v10"></path>
            </svg>
          </a>
        {% endif %}
      </div>

      <h1 class="hero__title">
        {{ page.title }}
      </h1>

      <div class="hero__description">
        {{ page.description|richtext }}
      </div>


      <div class="hero__tags">
        {% with tags=page.tags.all %}
          {% if tags %}
            {% for tag in tags %}
              <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="link link--internal link--tag">
                #{{ tag }}
              </a>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      </header

      <main class="main project">
        {{ page.body|richtext }}
      </main>
{% endblock %}
