{% extends "base.html" %}
{% block title %}
    {{ metadata.title }}
{% endblock title %}
{% block preload_rules %}
    <link rel="preload"
          href="/static/fonts/GeistMono/GeistMono[wght].ttf"
          as="font"
          type="font/ttf"
          crossorigin="anonymous" />
{% endblock preload_rules %}
{% block og_tags %}
    <meta property="og:description" content="{{ metadata.description }}" />
    <meta property="og:title" content="{{ metadata.title }}" />
    <meta property="og:site_name" content="{{ config.params.title }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    {% if metadata.image %}<meta property="og:image" content="{{ metadata.image }}" />{% endif %}
{% endblock og_tags %}
{% block content %}
    <header>
        {% include "includes/nav.html" %}
        <div class="max-w-3xl mt-16 mx-auto pb-9 px-3 md:px-6 lg:px-0 mb-9 text-pretty border-b border-b-stone-950">
            {% if metadata.image %}
                <picture>
                    <source srcset="{{ metadata.image | replace('.jpg', '.webp') }}"
                            type="image/webp" />
                    <img src="{{ metadata.image }}" class="rounded-2xl mb-9">
                </picture>
            {% endif %}
            <h1 class="text-4xl md:text-5xl lg:text-7xl leading-none text-balance mb-6">{{ metadata.title }}</h1>
            <p class="text-xl/8">{{ metadata.description }}</p>
            {# TODO: add repository link #}
            {# TODO: add page link #}
        </div>
    </header>
    <main class="max-w-3xl px-3 md:px-6 lg:px-0 mb-32 mx-auto text-xl/8 text-pretty flex flex-col gap-6 [&_h2]:text-3xl md:[&_h2]:text-4xl lg:[&_h2]:text-5xl [&_h3]:text-2xl md:[&_h3]:text-3xl lg:[&_h3]:text-3xl [&_h2,&_h3]:text-balance [&_h2,&_h3,&_img,&_pre]:mt-9 [&_pre]:overflow-x-auto [&_pre]:text-base [&_pre]:p-6 [&_pre]:bg-stone-950 [&_pre]:text-stone-50 [&_pre,&_img]:rounded-2xl [&_ul]:list-disc [&_ol]:list-decimal [&_ul,&_ol]:pl-9 [&_ul,&_ol]:flex [&_ul,&_ol]:flex-col [&_ul,&_ol]:gap-1.5">
        {{ content|safe }}
    </main>
</div>
{% endblock content %}
