{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {# Hero section #}
  <header class="header">
    <div class="hero">
      <h1 class="hero__title">
        {{ page.hero_title|richtext }}
      </h1>
      <h2 class="hero__subtitle">
        {{ page.hero_subtitle }}
      </h2>

      {% if page.hero_cta_text and page.hero_cta_url %}
        <a href="{{ page.hero_cta_url }}" class="hero__cta">
          {{ page.hero_cta_text }}

          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" shape-rendering="geometricPrecision" viewBox="0 0 24 24" class="icon" height="24" width="24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      {% endif %}
    </div>
  </header>

  <main class="main main--home">
    {% if page.biography %}
      <section class="biography">
        {{ page.biography|richtext }}
      </section>
    {% endif %}

    {% if page.featured_projects %}
      <section class="showcase">
        <header class="showcase__header">
          <h2>{{ page.projects_title }}</h2>
          <p>{{ page.projects_subtitle|richtext }}</p>
        </header>
        <main class="showcase__projects">
          {% for block in page.featured_projects %}
            <article class="project">
              <div class="project__image">
                {% if block.value.image %}
                  {% picture block.value.image format-{avif,jpeg} %}
                {% endif %}
              </div>
              <h3 class="project__title">{{ block.value.title }}</h3>
            </article>
          {% endfor %}
        </main>
      </section>
    {% endif %}

    {% if page.stack_stack %}
      <section class="showcase">
        <header class="showcase__header">
          <h2>{{ page.stack_title }}</h2>
          <p>{{ page.stack_subtitle|richtext }}</p>
        </header>
        <main class="showcase__stack">
          {% for block in page.stack_stack %}
            <span class="stack-item">{{ block.value.title }}</span>
          {% endfor %}
        </main>
      </section>
    {% endif %}

    {% if page.contact_title %}
      <section class="contact">
        <header class="contact__header">
          <p>{{ page.contact_subtitle|richtext }}</p>
          <h2>{{ page.contact_title }}</h2>
        </header>
        <main class="contact__sections">
          <div>
            <p>{{ page.contact_content|richtext }}</p>
          </div>

          <div>
            {% with contact_settings=settings.base.ContactEmailSettings %}
              <a href="mailto:{{ contact_settings.email }}">{{contact_settings.email}}</a>
            {% endwith %}
          </div>
        </main>
      </section>
    {% endif %}

  </main>
{% endblock content %}
