{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
    {# Hero section #}
  <header class="header">
    <div class="hero">
      <h1 class="hero__title">
        {{ page.hero_title|richtext }}
      </h1>
      <h2 class="hero__subtitle">
        {{ page.hero_subtitle }}
      </h2>

      {% if page.hero_cta_text and page.hero_cta_url %}
        <a href="{{ page.hero_cta_url }}" class="hero__cta">
          {{ page.hero_cta_text }}

          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" shape-rendering="geometricPrecision" viewBox="0 0 24 24" class="icon" height="24" width="24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      {% endif %}
    </div>
  </header>

  <main class="main">
    {% if page.biography %}
      <section class="biography">
        {{ page.biography|richtext }}
      </section>
    {% endif %}

    {% if page.featured_projects %}
      <section class="showcase">
        <header class="showcase__header">
          <h2>{{ page.projects_title }}</h2>
          <p>{{ page.projects_content|richtext }}</p>
        </header>
        <main class="showcase__projects">
          {% for block in page.featured_projects %}
            <article class="project">
              <div class="project__image"></div>
              <h3 class="project__title">{{ block.value.title }}</h3>
            </article>
          {% endfor %}
        </main>
      </section>
    {% endif %}
  </main>
{% endblock content %}
