.blog {
  /* Post cards */
  --post-card-bg-1: var(--primary);
  --post-card-bg-2: #c8d5b9;
  --post-card-bg-3: #fc9e4f;
  --post-card-bg-4: #6a8faf;
  --post-card-bg-5: #4a7c59;
  --post-card-bg-6: #03312e;

  background: light-dark(var(--background), var(--foreground));
  color: light-dark(var(--foreground), var(--background));
  padding: var(--spacing-3);
  padding-bottom: var(--spacing-56);
  padding-top: var(--spacing-32);
}

.blog__header {
  margin-bottom: var(--spacing-9);
  text-align: center;
}

.blog__title {
  font-size: var(--font-size-7xl);
  font-weight: var(--font-weight-thin);
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(var(--w-96), var(--w-124)));
  place-content: center;
  gap: var(--spacing-5);
}

.post {
  background: var(--primary);
  border: 1px solid var(--background);
  border-color: light-dark(var(--background), var(--foreground));
  border-radius: var(--border-radius-xl);
  color: var(--foreground);
  padding: var(--spacing-9);
  text-decoration: none;
  width: 100%;

  .post__header {
    margin-bottom: var(--spacing-5);

    time {
      display: block;
      margin-bottom: var(--spacing-2-5);
    }

    h2 {
      font-size: var(--font-size-3xl);
      font-weight: var(--font-weight-medium);
    }
  }

  &:hover h2 {
    text-decoration: underline;
  }

  main {
    font-size: var(--font-size-xl);
  }
}

@media only screen and (max-width: 800px) {
  .blog__list {
    grid-template-columns: 1fr;
  }
}
