/**
 * Fonts
 **/

@font-face {
  font-family: "Geist";
  src: url("/static/fonts/Geist/GeistVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/static/fonts/GeistMono/GeistMonoVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: monospace;
  font-display: swap;
}
