.home {
  background: var(--accent);
  color: light-dark(var(--foreground), var(--background));
  overflow: hidden;
}

#gradient-canvas {
  --gradient-color-1: var(--white);
  --gradient-color-2: var(--primary);
  --gradient-color-3: var(--accent);
  --gradient-color-4: var(--white);

  height: 100svh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100svw;
  z-index: 0;
}

@media (prefers-color-scheme: dark) {
  #gradient-canvas {
    --gradient-color-1: var(--black);
    --gradient-color-2: var(--primary);
    --gradient-color-3: var(--accent);
    --gradient-color-4: var(--black);
  }
}

@media only screen and (max-width: 768px) {
  .home {
    display: grid;
    gap: var(--spacing-3);
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
    overflow: auto;
    padding: var(--spacing-3);
    padding-bottom: var(--spacing-56);
  }

  #gradient-canvas {
    position: fixed;
  }
}

@media only screen and (max-width: 576px) {
  .home {
    grid-template-columns: 1fr;
  }
}
