.nav {
  background: light-dark(var(--background), var(--foreground));
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--background);
  border-color: light-dark(var(--background), var(--foreground));
  bottom: 0;
  box-shadow: var(--box-shadow);
  display: flex;
  font-size: var(--font-size-lg);
  gap: var(--spacing-5);
  left: 50%;
  margin-bottom: var(--spacing-5);
  padding: var(--spacing-5) var(--spacing-9);
  position: fixed;
  transform: translateX(-50%);
  z-index: 9999;
}

.nav__link {
  color: light-dark(var(--foreground), var(--background));
  text-decoration: none;

  &:hover {
    color: var(--accent);
    text-decoration: var(--text-decoration-underline);
  }
}

.nav__link--active {
  color: var(--accent);
  text-decoration: var(--text-decoration-underline);
}
