/**
 * Design tokens
 **/

:root {
  /* Color palette */
  --primary-dark: #567d9f;
  --primary-light: #88a5bf;
  --primary: #6a8faf;
  --black: #0a0a0a;
  --orange-dark: #f57200;
  --orange-light: #ffb370;
  --orange: #ff9233;
  --white: #f5f5f5;
  --background: var(--white);
  --foreground: var(--black);

  /* Font size */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-tiny: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 4rem;
  --font-size-7xl: 5rem;

  /* Letter spacing */
  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.03em;
  --letter-spacing-loose: 0.05em;
  --letter-spacing-looser: 0.1em;
  --letter-spacing-open: 0.2em;

  /* Line height */
  --line-height-tighter: 0.7;
  --line-height-tight: 0.9;
  --line-height-loose: 1.2;
  --line-height-looser: 1.5;
  --line-height-open: 2;
  --line-height-resp: 1.3em;

  /* Font weight */
  --font-weight-black: 900;
  --font-weight-extrabold: 800;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-weight-thin: 200;
  --font-weight-hair: 100;

  /* Border radius */
  --border-radius-xs: 0.2rem;
  --border-radius-sm: 0.4rem;
  --border-radius-md: 0.8rem;
  --border-radius-lg: 1.2rem;
  --border-radius-xl: 1.6rem;
  --border-radius-xxl: 2rem;

  /* Box shadow */
  --box-shadow-offset-y: 4px;
  --box-shadow-blur-radius: 24px;
  --box-shadow: 0 var(--box-shadow-offset-y) var(--box-shadow-blur-radius)
    hsla(0, 0%, 4%, var(--box-shadow-opacity, 0.1));

  /* Text decoration */
  --text-decoration-color: var(--primary);
  --text-decoration-underline: var(--text-decoration-color) underline;
  --text-decoration-line-through: var(--text-decoration-color) line-through;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-px: 1px;
  --spacing-0-5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-1-5: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-2-5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-3-5: 0.875rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;

  /* Width and height */
  --w-0: 0px;
  --w-px: 1px;
  --w-0-5: 0.125rem;
  --w-1: 0.25rem;
  --w-1-5: 0.375rem;
  --w-2: 0.5rem;
  --w-2-5: 0.625rem;
  --w-3: 0.75rem;
  --w-3-5: 0.875rem;
  --w-4: 1rem;
  --w-5: 1.25rem;
  --w-6: 1.5rem;
  --w-7: 1.75rem;
  --w-8: 2rem;
  --w-9: 2.25rem;
  --w-10: 2.5rem;
  --w-11: 2.75rem;
  --w-12: 3rem;
  --w-14: 3.5rem;
  --w-16: 4rem;
  --w-20: 5rem;
  --w-24: 6rem;
  --w-28: 7rem;
  --w-32: 8rem;
  --w-36: 9rem;
  --w-40: 10rem;
  --w-44: 11rem;
  --w-48: 12rem;
  --w-52: 13rem;
  --w-56: 14rem;
  --w-60: 15rem;
  --w-64: 16rem;
  --w-72: 18rem;
  --w-80: 20rem;
  --w-96: 24rem;
  --w-100: 25rem;
  --w-104: 26rem;
  --w-108: 27rem;
  --w-112: 28rem;
  --w-116: 29rem;
  --w-120: 30rem;
  --w-124: 31rem;
  --w-128: 32rem;
  --w-auto: auto;
  --w-full: 100%;
  --w-min: min-content;
  --w-max: max-content;
  --w-fit: fit-content;

  /**
   * Breakpoints:
   *  sm: 576px
   *  md: 768px
   *  lg: 992px
   *  xl: 1200px
   *  xxl: 1500px
   **/
}
