.static {
  background: light-dark(var(--background), var(--foreground));
  color: light-dark(var(--foreground), var(--background));
  padding: var(--spacing-9);
  padding-bottom: var(--spacing-56);
  padding-top: var(--spacing-32);
}

.static__header {
  margin-bottom: var(--spacing-9);
  text-align: center;
}

.static__title {
  font-size: var(--font-size-7xl);
  font-weight: var(--font-weight-thin);
}

.static__summary {
  font-size: var(--font-size-2xl);
  margin: 0 auto;
  margin-top: var(--spacing-5);
  max-width: 45ch;
  text-align: center;
}

.static__content {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xl);
  gap: var(--spacing-9);
  margin: 0 auto;
  max-width: 65ch;

  h1,
  h2,
  h3 {
    font-weight: var(--font-weight-thin);
  }

  h2 {
    font-size: var(--font-size-5xl);
  }

  h3 {
    font-size: var(--font-size-3xl);
  }

  a {
    color: var(--primary);
    font-style: italic;

    &:visited {
      color: var(--foreground);
    }

    &:hover {
      color: var(--primary);
    }
  }

  blockquote {
    font-size: var(--font-size-2xl);
    font-style: italic;
    font-weight: var(--font-weight-light);
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .static {
    padding: var(--spacing-3);
    padding-bottom: var(--spacing-56);
    padding-top: var(--spacing-32);
  }

  .static__title {
    font-size: var(--font-size-5xl);
  }
}
