.static {
  background: var(--white);
  color: var(--foreground);
  margin: 0 auto;
  max-width: 65ch;
  overflow: auto;
  padding: var(--spacing-9);
  padding-bottom: var(--spacing-56);
  padding-top: var(--spacing-32);
}

.static__header {
  margin-bottom: var(--spacing-9);
}

.static__title {
  font-size: var(--font-size-7xl);
  font-weight: var(--font-weight-thin);
  text-align: center;
}

.static__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-9);
  font-size: var(--font-size-xl);

  h1,
  h2,
  h3 {
    font-weight: var(--font-weight-thin);
  }

  h1 {
    font-size: var(--font-size-7xl);
    text-align: center;
  }

  h2 {
    font-size: var(--font-size-5xl);
  }

  h3 {
    font-size: var(--font-size-3xl);
  }

  a {
    color: var(--accent);
    font-style: italic;

    &:visited {
      color: var(--foreground);
    }

    &:hover {
      color: var(--accent);
    }
  }

  blockquote {
    font-size: var(--font-size-2xl);
    font-style: italic;
    font-weight: var(--font-weight-light);
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .static {
    padding: var(--spacing-3);
    padding-bottom: var(--spacing-56);
    padding-top: var(--spacing-32);
  }
}
