/**
 * Design tokens
 **/
:root {
  /* Color palette */
  --white: #fafafa;
  --black: #0a0a0a;
  --foreground: var(--black);
  --background: var(--white);

  /* Font size */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 100%;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;

  /* Font weight */
  --font-thin: 100;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 800;
  --font-ultrablack: 900;

  /* Letter spacing */
  --tracking-tighter: -0.05rem;
  --tracking-tigh: -0.02rem;
  --tracking-normal: 0rem;
  --tracking-loose: 0.025rem;
  --tracking-looser: 0.05rem;
  --tracking-loosest: 0.1rem;

  /* Line height */
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;

  /* Border size */
  --border: 1px;

  /* Border radius */
  --rounded-sm: 0.125rem;
  --rounded-normal: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-full: 9999px;

  /* Gap, margin, padding, ... */
  --space-base: 0.125rem;
  --space-xs: calc(var(--space-base) * 2);
  --space-sm: calc(var(--space-base) * 4);
  --space-md: calc(var(--space-base) * 8);
  --space-lg: calc(var(--space-base) * 16);
  --space-xl: calc(var(--space-base) * 32);
  --space-2xl: calc(var(--space-base) * 64);
  --space-3xl: calc(var(--space-base) * 72);

  /* Width, height */
  --w-25: 25%;
  --w-33: 33%;
  --w-50: 50%;
  --w-66: 66%;
  --w-75: 75%;
  --w-100: 100%;
  --w-full: 100vw;

  --h-25: 25%;
  --h-33: 33%;
  --h-50: 50%;
  --h-66: 66%;
  --h-75: 75%;
  --h-100: 100%;
  --h-full: 100vh;

  /* Transitions */
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 150ms;

  /* Fallback fonts */
  --fallback-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fallback-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/**
 * Fonts
 **/
@font-face {
  font-family: "Geist";
  src: url("/static/fonts/Geist/GeistVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/static/fonts/GeistMono/GeistMonoVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: monospace;
  font-display: swap;
}

/**
* CSS Reset
**/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", var(--fallback-sans);
  font-size: var(--text-base);
  overflow-wrap: break-word;
  scroll-behavior: smooth;
  transition:
    background var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration);
}

html.dark {
  --foreground: var(--white);
  --background: var(--black);
}

body {
  -webkit-font-smoothing: antialiased;
}

body.hide-scroll {
  overflow-y: hidden;
}

button {
  color: inherit;
  font: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

/**
 * Styles
 **/
.nav {
  align-items: center;
  display: flex;
  font-size: var(--text-lg);
  justify-content: space-between;
  padding: var(--space-md);
  width: var(--w-100);
}

.nav__home {
  color: var(--foreground);
  text-decoration: none;
  transition: text-decoration var(--transition-timing)
    var(--transition-duration);

  &:hover {
    text-decoration: underline;
  }
}

.nav__switch {
  .switch {
    appearance: none;
    border-radius: var(--rounded-full);
    border: var(--border) solid var(--foreground);
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    height: calc(var(--space-md) + var(--space-base));
    position: relative;
    vertical-align: text-bottom;
    width: calc(var(--space-lg) + var(--space-base));
  }

  .switch::before {
    background: var(--foreground);
    border-radius: var(--rounded-full);
    box-sizing: border-box;
    content: "";
    height: var(--text-sm);
    left: 0;
    margin: 0 var(--space-base);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: var(--text-sm);
    transition: transform var(--transition-timing) var(--transition-duration);
  }

  .switch:checked::before {
    transform: translate(100%, -50%);
  }
}

.nav__menu {
  align-items: center;
  background: var(--background);
  border-radius: var(--rounded-full);
  border: var(--border) solid var(--foreground);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: var(--space-sm);
  transition:
    background var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration);

  .icon {
    height: var(--text-xl);
    width: var(--text-xl);
  }

  &:hover {
    background: var(--foreground);
    color: var(--background);
  }
}

.menu {
  grid-template-rows: auto 1fr auto;
  background: var(--black);
  display: none;
  height: var(--h-100);
  left: 0;
  position: fixed;
  top: -100%;
  visibility: hidden;
  width: var(--w-100);
  z-index: 999;

  &.open {
    display: grid;
    top: 0;
    visibility: visible;
  }
}

.menu__controls {
  display: flex;
  justify-content: flex-end;
  padding: var(--space-md);
}

.menu__close {
  align-items: center;
  background: var(--black);
  border-radius: var(--rounded-full);
  border: var(--border) solid var(--white);
  color: var(--white);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: var(--space-sm);
  transition:
    background var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration);

  .icon {
    height: var(--text-xl);
    width: var(--text-xl);
  }

  &:hover {
    background: var(--white);
    color: var(--black);
  }
}

.menu__nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  & a {
    color: var(--white);
    font-size: var(--text-9xl);
    font-weight: var(--font-normal);
    font-style: italic;
    text-decoration: none;
    transition: text-decoration var(--transition-timing)
      var(--transition-duration);

    &.selected {
      font-style: normal;
      font-weight: var(--font-black);

      &::before {
        content: "*";
        font-size: var(--text-9xl);
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.menu__contact {
  display: flex;
  justify-content: center;
  padding: var(--space-md);

  & a {
    border-radius: var(--rounded-full);
    border: var(--border) solid var(--white);
    color: var(--white);
    display: block;
    font-size: var(--text-xl);
    padding: var(--space-xs) var(--space-sm);
    text-decoration: none;
    transition:
      background var(--transition-timing) var(--transition-duration),
      color var(--transition-timing) var(--transition-duration);

    &:hover {
      background: var(--white);
      color: var(--black);
    }
  }
}

.header {
  height: var(--h-full);

  &.header--projects,
  &.header--blog {
    height: auto;
  }
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: var(--h-66);
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  &.hero--projects,
  &.hero--blog {
    height: auto;
    padding-bottom: var(--space-2xl);
    padding-top: var(--space-2xl);
  }

  .hero__title {
    max-width: var(--w-66);
    font-size: var(--text-9xl);
    font-weight: var(--font-black);
    line-height: var(--leading-none);
    margin-bottom: var(--space-md);
  }

  .hero__subtitle {
    font-size: var(--text-xl);
    font-weight: var(--font-medium);
    margin-bottom: var(--space-lg);
  }

  .hero__cta {
    align-items: center;
    background: var(--foreground);
    border-radius: var(--rounded-full);
    border: var(--border) solid var(--foreground);
    color: var(--background);
    cursor: pointer;
    display: inline-flex;
    font-size: var(--text-xl);
    gap: var(--space-xs);
    padding: var(--space-sm) var(--space-lg);
    text-decoration: none;
    text-transform: capitalize;
    transition:
      background var(--transition-timing) var(--transition-duration),
      color var(--transition-timing) var(--transition-duration);

    &:hover {
      background: var(--background);
      color: var(--foreground);
    }
  }
}

.main {
  min-height: var(--h-full);
}

.projects,
.blog {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
  margin: 0 auto;
  margin-bottom: var(--space-3xl);
  max-width: var(--w-66);

  & .article__image {
    aspect-ratio: 16/9;
    background: var(--foreground);
    border-radius: var(--rounded-xl);
    margin-bottom: var(--space-md);
  }

  & .article__date {
    display: block;
    font-size: var(--text-xl);
    font-weight: var(--font-light);
    margin-bottom: var(--space-sm);
  }

  & .article__title {
    font-size: var(--text-6xl);
    line-height: var(--leading-none);
    margin-bottom: var(--space-lg);
  }

  & .article__summary {
    font-size: var(--text-2xl);
    font-weight: var(--font-normal);
    line-height: var(--leading-normal);
    margin-bottom: var(--space-lg);
    width: 60ch;
  }

  & .article__link {
    align-items: center;
    color: var(--foreground);
    display: inline-flex;
    font-size: var(--text-xl);
    font-weight: var(--font-bold);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.biography {
  font-size: var(--text-5xl);
  margin: 0 auto;
  max-width: var(--w-66);

  & p {
    margin-bottom: var(--space-xl);
  }

  & a {
    color: var(--foreground);
    font-weight: var(--font-bold);
    text-decoration: none;
    transition: text-decoration var(--transition-timing)
      var(--transition-duration);

    &:hover {
      text-decoration: underline;
    }
  }
}

.showcase {
  margin-bottom: var(--space-3xl);
  margin-top: calc(var(--space-3xl) * 2);
  text-transform: uppercase;

  .showcase__header {
    margin: 0 auto;
    margin-bottom: var(--space-xl);
    max-width: var(--w-66);
    text-align: center;

    & h2 {
      font-weight: var(--font-black);
      font-size: var(--text-7xl);
      margin-bottom: var(--space-sm);
    }

    & p {
      font-size: var(--text-xl);
      font-weight: var(--font-medium);
    }
  }

  .showcase__projects {
    column-gap: var(--space-lg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);

    .project {
      .project__image {
        aspect-ratio: 16/9;
        background: var(--foreground);
        border-radius: var(--rounded-xl);
      }

      .project__title {
        font-size: var(--text-xl);
        font-weight: var(--font-semibold);
        margin-bottom: var(--space-lg);
        margin-top: var(--space-lg);
      }
    }
  }
}

.footer {
  align-items: flex-start;
  display: flex;
  font-size: var(--text-lg);
  justify-content: space-between;
  padding: var(--space-md);
  border-top: var(--border) dashed var(--foreground);

  .footer__social {
    display: flex;
    gap: var(--space-sm);

    & > span {
      font-weight: var(--font-semibold);
    }
  }

  .social-link {
    color: var(--foreground);
    text-decoration: none;
    transition: text-decoration var(--transition-timing)
      var(--transition-duration);

    &:hover {
      text-decoration: underline;
    }
  }
}

/**
 * Media queries
 **/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--white);
    --background: var(--black);
  }
}
