/**
 * Widgets styles
 **/

.widget {
  background: light-dark(var(--background), var(--foreground));
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--background);
  border-color: light-dark(var(--background), var(--foreground));
  box-shadow: var(--box-shadow);
  overflow: clip;
  position: absolute;

  .title {
    background: transparent;
    color: light-dark(var(--foreground), var(--background));
    cursor: grab;
    display: flex;
    padding: var(--spacing-4) var(--spacing-9);
    user-select: none;

    &.is-dragging {
      cursor: grabbing;
    }
  }

  .title__title {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    text-align: center;
    text-transform: lowercase;
    width: 100%;
  }

  .content {
    padding: var(--spacing-5);
    padding-top: 0;
    position: relative;
  }
}

.widget--abstract {
  height: var(--w-100);
  width: var(--w-100);

  .content {
    padding: 0;
  }

  .p5canvas {
    height: auto;
    width: 100%;
  }
}

.widget--calendar {
  height: auto;
  user-select: none;
  width: var(--w-96);

  .calendar__header {
    align-items: center;
    display: flex;
    font-weight: var(--font-weight-normal);
    justify-content: space-between;
    padding: var(--spacing-3) 0;
  }

  .calendar__icons {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: var(--spacing-3);
    margin-left: auto;

    .icon {
      color: var(--foreground);
      height: var(--spacing-6);
      width: var(--spacing-6);

      &:hover {
        color: var(--accent);
      }
    }
  }

  .calendar__days {
    display: grid;
    gap: var(--spacing-2-5);
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
  }

  .calendar__weekdays {
    display: grid;
    font-weight: var(--font-weight-medium);
    gap: var(--spacing-2-5);
    grid-template-columns: repeat(7, 1fr);
    padding: var(--spacing-1-5) 0;
    place-items: center;
  }

  .calendar__day {
    align-items: center;
    border-radius: 999px;
    cursor: pointer;
    display: inline-flex;
    height: var(--w-9);
    justify-content: center;
    text-align: center;
    width: var(--w-9);
  }

  .calendar__day.empty:hover {
    background: none;
  }

  .calendar__day.today {
    background-color: var(--accent);
    font-weight: bold;
  }

  .calendar__day:hover {
    background-color: var(--accent);
  }
}

.widget--blog-post {
  width: 65ch;
  height: auto;

  .featured_post__header__title {
    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-3);
  }

  .featured_post__footer {
    display: flex;
    flex-shrink: 1;
  }

  .featured_post__link {
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--foreground);
    color: var(--foreground);
    display: block;
    font-weight: var(--font-weight-normal);
    margin-top: var(--spacing-5);
    padding: var(--spacing-3) var(--spacing-5);
    text-decoration: none;
    width: auto;

    &:hover {
      color: var(--background);
      background: var(--foreground);
    }
  }
}

.widget--image {
  width: var(--w-96);

  .content {
    filter: grayscale(100%);
    padding: 0;
  }
}

.widget--note {
  width: 65ch;

  .content {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-xl);
    gap: var(--spacing-5);
    padding-bottom: var(--spacing-9);

    h2 {
      font-size: var(--font-size-5xl);
    }

    a {
      font-style: italic;
      text-decoration: underline;
    }
  }
}

.widget--social-links {
  background: transparent;

  .title {
    background: light-dark(var(--background), var(--foreground));
  }

  .content {
    backdrop-filter: blur(14px);
    background-color: hsla(0, 0%, 96%, 0.3);
  }

  .social-links {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);

    .social-links__link {
      color: var(--foreground);
      font-weight: var(--font-weight-normal);
      padding: var(--spacing-3) var(--spacing-3);
      text-align: center;
      text-decoration: none;

      &:hover {
        color: var(--accent);
        text-decoration: var(--text-decoration-underline);
      }
    }
  }
}

.widget--stack-list {
  background: transparent;
  width: var(--w-96);

  .title {
    background: light-dark(var(--background), var(--foreground));
  }

  .content {
    backdrop-filter: blur(14px);
    background-color: hsla(0, 0%, 96%, 0.3);
  }

  .stack-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-1-5);
    justify-content: center;
    padding: var(--spacing-5) 0;
  }

  .stack-list__item {
    background: var(--accent);
    border-radius: 999px;
    color: var(--white);
    font-size: var(--font-size-base);
    line-height: 1;
    padding: var(--spacing-2-5) var(--spacing-5);
  }
}

.widget--todo-list {
  width: var(--w-80);

  .todo {
    accent-color: var(--accent);
    padding: var(--spacing-5) 0;
  }

  .todo__label {
    align-items: start;
    cursor: pointer;
    display: inline-flex;
    gap: var(--spacing-2-5);
    margin-bottom: var(--spacing-3);
    user-select: none;
  }

  .todo__checkbox {
    cursor: pointer;
    min-height: var(--w-5);
    min-width: var(--w-5);
  }

  .todo__label:has(.todo__checkbox:checked) {
    text-decoration: var(--text-decoration-line-through);
  }
}

.widget--contact {
  border-radius: var(--border-radius-xxl);
  display: inline-flex;
  justify-content: center;

  .title {
    padding: var(--spacing-5) var(--spacing-9);

    a {
      color: light-dark(var(--foreground), var(--background));
      text-decoration: none;

      &:hover {
        color: var(--accent);
        text-decoration: var(--text-decoration-underline);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .widget {
    position: relative;
    width: 100%;
  }
}
