.window--blog-post {
  width: var(--w-124);
  height: auto;
}

.featured_post__header {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--spacing-3);
}

.featured_post__content {
  font-size: var(--font-size-lg);
}

.featured_post__footer {
  display: flex;
  flex-shrink: 1;
}

.featured_post__link {
  border-radius: var(--border-radius-sm);
  border: var(--spacing-1) solid var(--primary-black);
  color: var(--primary-black);
  display: block;
  font-weight: var(--font-weight-bold);
  margin-top: var(--spacing-5);
  padding: var(--spacing-3);
  text-decoration: none;
  width: auto;

  &:hover {
    background: var(--accent);
  }
}
