/**
 * Stack list window.
 **/

.window--stack-list {
  width: var(--w-80);
}

.stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-1-5);
  justify-content: center;
  padding: var(--spacing-5) var(--spacing-3);
}

.stack-list__item {
  background: var(--accent);
  border-radius: 999px;
  font-weight: var(--font-weight-medium);
  padding: var(--spacing-1-5) var(--spacing-3);
}
