/**
 * To-Do list window.
 **/

.window--todo-list {
  width: var(--w-72);
}

.todo {
  accent-color: var(--accent);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  justify-content: center;
  padding: var(--spacing-5) var(--spacing-3);
}

.todo__label {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-1);
  font-size: var(--font-size-base);
  cursor: pointer;
  user-select: none;
}

.todo__checkbox {
  cursor: pointer;
  width: var(--w-5);
  height: var(--w-5);
}

.todo__label:has(.todo__checkbox:checked) {
  text-decoration: var(--accent) wavy line-through;
}
