<a href="{{ link }}"
   {% if label %}aria-label="{{ label }}"{% endif %}
   class="inline-flex align-center justify-items-center p-1.5 m-1.5 rounded-full hover:cursor-pointer hover:bg-stone-950 hover:text-stone-50 transition-colors duration-75">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="w-5 h-5"
         fill="currentColor"
         viewBox="0 0 256 256">
        <path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z">
        </path>
    </svg>
</a>
