{% load wagtailcore_tags %}

<footer class="footer">
  {% with settings=settings.base.FooterSettings %}
    <p class="footer__copy">
      {{ settings.copy }}
    </p>

    <div class="footer__social" role="list">
      <span role="listitem">
        Connect:
      </span>
      {% for block in settings.links %}
        <a {% if block.value.title == 'Mastodon' %}rel="me"{% endif %} href="{{ block.value.url }}" class="social-link" role="listitem">
          {{ block.value.title }}
        </a>
      {% endfor %}
    </div>
  {% endwith %}
</footer>
