<div class="absolute max-h-screen max-w-screen overflow-hidden inset-0 filter blur-3xl -z-10">
    <div class="absolute w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-stone-200 dark:bg-stone-300 mix-blend-hard-light animate-vertical opacity-100">
    </div>
    <div class="absolute w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-stone-900 mix-blend-hard-light animate-circle opacity-100">
    </div>
    <div class="absolute w-1/2 h-1/2 top-[calc(50%-50px)] left-[calc(50%-250px)] transform origin-[calc(50%+400px)] bg-stone-100 dark:bg-stone-500 mix-blend-hard-light animate-circle opacity-100">
    </div>
    <div class="absolute w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-stone-400 mix-blend-hard-light animate-horizontal opacity-70">
    </div>
    <div class="absolute w-[160%] h-[160%] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-stone-600 mix-blend-hard-light animate-circle opacity-100">
    </div>
    <div class="absolute w-full h-full top-[-50%] left-[-50%] bg-stone-50 dark:bg-stone-900 mix-blend-hard-light opacity-70">
    </div>
</div>
