{% load wagtailcore_tags navigation_tags %} {% get_site_root as site_root %}
<nav class="nav">
  <div class="nav__main">
    <a href="{% pageurl site_root %}" class="link link--internal">
      dnlzrgz
    </a>
  </div>

  <div class="nav__controls">
    <input type="checkbox" class="toggle" id="toggle" aria-label="Toggle theme" />
    <label for="toggle" class="toggle__label">
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        shape-rendering="geometricPrecision"
        viewBox="0 0 24 24"
        class="icon"
        height="24"
        width="24"
        style="color: currentcolor"
      >
        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
      </svg>
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        shape-rendering="geometricPrecision"
        viewBox="0 0 24 24"
        class="icon"
        height="24"
        width="24"
        style="color: currentcolor"
      >
        <circle cx="12" cy="12" r="5"></circle>
        <path
          d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"
        ></path>
      </svg>
      <span class="toggle__indicator"></span>
    </label>
  </div>

  <ul class="nav__list list">
    {% for menuitem in site_root.get_children.live.in_menu %}
      <li class="nav__list__item">
        <a href="{% pageurl menuitem %}" class="link link--internal">
          {{ menuitem.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
