{% load static %}

<section class="window window--calendar">
  <header class="title">
  </header>

  <main class="content">
    <header class="calendar__header">
      <p class="calendar__month" data-js-calendar-current-month>June</p>
      <div class="calendar__icons">
        <span class="calendar__icon calendar__icon--prev" data-js-calendar-next>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
            <polyline points="15 18 9 12 15 6">
            </polyline>
          </svg>
        </span>
        <span class="calendar__icon calendar__icon--next" data-js-calendar-prev>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
            <polyline points="9 18 15 12 9 6">
            </polyline>
          </svg>
        </span>
      </div>
    </header>
    <main data-js-calendar-body>
      <ul class="calendar__weekdays" role="list">
        <li>Sun</li>
        <li>Mon</li>
        <li>Tue</li>
        <li>Wed</li>
        <li>Thu</li>
        <li>Fri</li>
        <li>Sat</li>
      </ul>
      <ul class="calendar__days" role="list"></ul>
    </main>
  </main>
</section>

<script src="{% static 'js/widgets/calendar.js' %}" defer></script>
