{% load wagtailcore_tags %}

<section class="widget widget--blog-post">
  <header class="title">
    <h2 class="title__title">{{ self.title }}</h2>
  </header>

  <main class="content">
    <a href="{{ self.blog_post.url }}" class="post">
      <article>
        <header class="post__header">
          <time class="post__date">
            {{ self.blog_post.date|date:'SHORT_DATE_FORMAT' }}
          </time>

          <h2 class="post__title">{{ self.blog_post.title }}</h2>
        </header>

        <main class="post__content">
          {{ self.blog_post.tldr|richtext }}
        </main>
      </article>
    </a>
  </main>
</section>
