{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block og %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ page.first_published_at|date:'c' }}">
  <meta property="article:modified_time" content="{{ page.latest_revision_created_at|date:'c' }}">
  {% if page.tags.all %}
    {% for tag in page.tags.all %}
      <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
  {% endif %}
{% endblock og %}

{% block content %}
  <header class="header header--post">
    <div class="hero hero--post">
      <p class="hero__date">
        {{ page.first_published_at|date:'SHORT_DATE_FORMAT' }}
      </p>

      <h1 class="hero__title">
        {{ page.title }}
      </h1>


      <div class="hero__summary">
        {{ page.tldr|richtext }}
      </div>
    </div>
  </header>

  <main class="main post">
    {{ page.body|richtext }}
  </main>
{% endblock content %}
