{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block og %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ page.first_published_at|date:'c' }}">
  <meta property="article:modified_time" content="{{ page.latest_revision_created_at|date:'c' }}">
  {% if page.tags.all %}
    {% for tag in page.tags.all %}
      <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
  {% endif %}
{% endblock og %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/highlight.css' %}" charset="utf-8">
{% endblock extra_css %}

{% block extra_js %}
  <script src="{% static 'js/highlight.css.js' %}" defer></script>
  <script src="{% static 'js/highlight.go.js' %}" defer></script>
  <script src="{% static 'js/highlight.html.js' %}" defer></script>
  <script src="{% static 'js/highlight.javascript.js' %}" defer></script>
  <script src="{% static 'js/highlight.js' %}" defer></script>
  <script src="{% static 'js/highlight.python.js' %}" defer></script>
  <script src="{% static 'js/highlight.sql.js' %}" defer></script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      hljs.highlightAll();
    });
  </script>
{% endblock extra_js %}

{% block content %}
  <header class="header header--post">
    <div class="hero hero--post">
      <p class="hero__date">
        {{ page.first_published_at|date:'SHORT_DATE_FORMAT' }}
      </p>

      <h1 class="hero__title">
        {{ page.title }}
      </h1>


      <div class="hero__summary">
        {{ page.tldr|richtext }}
      </div>
    </div>
  </header>

  <main class="main main--post">
    {% for block in page.body %}
      {% if block.block_type == 'heading' %}
        <h2>{{ block.value }}</h2>
      {% elif block.block_type == 'subheading' %}
        <h3>{{ block.value }}</h3>
      {% else %}
        {% include_block block %}
      {% endif %}
    {% endfor %}
  </main>
{% endblock content %}
