{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}body--tags{% endblock %}

{% block content %}
    {% if request.GET.tag %}
        <header class="header header--tags">
            <h1 class="header__title">
                Showing posts tagged with "{{ request.GET.tag }}"
            </h1>
        </header>
    {% endif %}

    <main>
        {% for post in posts %}
            <a href="{% pageurl post %}">
                {{ post.title }}
            </a>
            <br />
        {% empty %}
            No pages found with that tag.
        {% endfor %}
    </main>
{% endblock %}
