{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}body--blog{% endblock %}

{% block content %}
  <header class="header header--blog">
    {% include 'includes/nav.html' %}

    <div class="hero hero--blog">
      <h1 class="hero__title">
        {{ page.title }}
      </h1>
    </div>
  </header>

  <main class="main main--posts">
    {% for post in posts %}
      {% with post=post.specific %}
        <article class="article article--post">
          <header class="article__header">
            <time class="article__header__date">
              {{ post.first_published_at|date:'SHORT_DATE_FORMAT' }}
            </time>

            <h2 class="article__header__title">
              <a href="{{ post.url }}" class="link link--internal">
                {{ post.title }}
              </a>
            </h2>
          </header>

          <main class="article__content">
            {{ post.tldr|richtext }}
          </main>

          <footer class="article__footer">
            {% for tag in post.tags.all %}
              <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="link link--internal link--tag">
                #{{ tag }}
              </a>
            {% endfor %}
          </footer>
        </article>
      {% endwith %}
    {% endfor %}
  </main>
{% endblock %}
