{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block og %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ page.first_published_at|date:'c' }}">
  <meta property="article:modified_time" content="{{ page.latest_revision_created_at|date:'c' }}">
  {% if page.tags.all %}
    {% for tag in page.tags.all %}
      <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
  {% endif %}
{% endblock og %}

{% block ldjson %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "url": "{{ page.full_url }}",
      "headline": "{{ page.title }}",
      "description": "{{ page.search_description }}",
      "datePublished": "{{ page.first_published_at|date:'c' }}",
      "dateModified": "{{ page.latest_revision_created_at|date:'c' }}",
      "author": { "@id": "#main-author" }
    }
  </script>
{% endblock ldjson %}

{% block body_class %}static{% endblock %}

{% block content %}
  <header class="static__header">
    <p class="static__date">
      {{ page.first_published_at|date:'SHORT_DATE_FORMAT' }}
    </p>

    <h1 class="static__title">
      {{ page.title }}
    </h1>

    <div class="static__summary">
      {{ page.tldr|richtext }}
    </div>
  </header>

  <main class="static__content">
    {% for block in page.body %}
      {% if block.block_type == 'heading' %}
        <h2>{{ block.value }}</h2>
      {% elif block.block_type == 'subheading' %}
        <h3>{{ block.value }}</h3>
      {% else %}
        {% include_block block %}
      {% endif %}
    {% endfor %}
  </main>
{% endblock content %}
