{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
  <header class="header header--blog">
    <div class="hero hero--blog">
      <h1 class="hero__title">
        {{ page.title }}
      </h1>
    </div>
  </header>

  <main class="main blog">
    {% for post in posts %}
      {% with post=post.specific %}
        <article class="article">
          <header class="article__header">
            <time class="article__date">
              {{ post.first_published_at|date:'SHORT_DATE_FORMAT' }}
            </time>

            <h2 class="article__title">
              {{ post.title }}
            </a>
          </h2>
        </header>

        <main class="article__summary">
          {{ post.tldr|richtext }}
        </main>

        <footer>
          <a href="{{ post.url }}" class="article__link">
            Read more
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" shape-rendering="geometricPrecision" viewBox="0 0 24 24" class="icon" height="24" width="24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </footer>
        </article>
      {% endwith %}
    {% endfor %}
  </main>
{% endblock %}
