{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
  <header class="">
    <h1 class="">
      {{ page.title }}
    </h1>
  </header>

  <main class="">
    {% for post in posts %}
      {% with post=post.specific %}
        <article class="">
          <header class="">
            <time class="">
              {{ post.first_published_at|date:'SHORT_DATE_FORMAT' }}
            </time>

            <h2 class="">
              {{ post.title }}
            </a>
          </h2>
        </header>

        <main class="">
          {{ post.tldr|richtext }}
        </main>

        <footer>
          <a href="{{ post.url }}" class="">
            Read more
          </a>
        </footer>
        </article>
      {% endwith %}
    {% endfor %}
  </main>
{% endblock %}
