{% load static wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>404</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="index,follow">

        {# Favicon #}
        <link rel="apple-touch-icon" href="{% static 'assets/apple-touch-icon.png' %}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon-16x16.png' %}">
        <link rel="icon" href="{% static 'assets/favicon.ico' %}" />

        {# CSS #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" charset="utf-8">
    </head>

    <body class="body body--error">
        {% wagtailuserbar %}

        <main class="main main--error">
            <h1>404</h1>
            <h2>Sorry, this page could not be found.</h2>
        </main>

    </body>
</html>
