{% extends "base.html" %}
{% block title %}
    {{ metadata.title }}
{% endblock title %}
{% block og_tags %}
    <meta property="og:description" content="{{ metadata.description }}" />
    <meta property="og:title" content="{{ metadata.title }}" />
    <meta property="og:site_name" content="{{ config.params.title }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    {% if metadata.image %}<meta property="og:image" content="{{ metadata.image }}" />{% endif %}
{% endblock og_tags %}
{% block content %}
    <header>
        {% set current_page = "about" %}
        {% include "includes/nav.html" %}
        <div class="max-w-3xl mt-16 mx-auto pb-9 px-3 md:px-6 lg:px-0 mb-9 text-pretty border-b border-b-stone-950">
            <h1 class="text-4xl md:text-5xl lg:text-7xl leading-none text-balance mb-6">{{ metadata.title }}</h1>
        </div>
    </header>
    <main class="mb-32">
        <div class="max-w-3xl px-3 md:px-6 lg:px-0 mx-auto text-xl/8 text-pretty flex flex-col gap-6 [&_h2]:text-3xl md:[&_h2]:text-4xl lg:[&_h2]:text-5xl [&_h3]:text-2xl md:[&_h3]:text-3xl lg:[&_h3]:text-3xl [&_h2,&_h3]:text-balance [&_h2,&_h3,&_img]:mt-9">
            {{ content|safe }}
        </div>
        <div class="mt-16 px-3 md:px-6 lg:px-9 text-xl">
            <h2 class="max-w-3xl mx-auto text-3xl md:text-4xl lg:text-5xl text-balance mb-16">Stack and Skills</h2>
            <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                {% for item in metadata.stack | shuffle %}<li class="w-full py-1.5 px-3 md:p-3">{{ item }}</li>{% endfor %}
            </ul>
        </div>
        <div class="mt-16 px-3 md:px-6 lg:px-9 text-xl">
            <h2 class="max-w-3xl mx-auto text-3xl md:text-4xl lg:text-5xl text-balance mb-16">Experience</h2>
            {% for experience in metadata.experiences %}
                <div class="grid grid-cols-1 md:grid-cols-[1fr_1fr_200px] md:gap-9 py-6 md:border-b md:border-b-stone-950">
                    <span>{{ experience[0] }}</span> <span>{{ experience[1] }}</span>
                    <div class="flex gap-3 md:gap-9">
                        <span>{{ experience[2] }}</span> <span class="md:hidden">-</span> <span>{{ experience[3] }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
